@use '../../styles/variables' as v;

.chart {
  width: 100%;
  background: transparent;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  min-height: 300px;
  margin: 16px 0;
  overflow: hidden;

  .chartColumn {
    width: 20px;
    min-width: 1px;
    background: v.$details;
  }

  .current {
    background: v.$secondary-details;
  }

  .next {
    background: v.$primary-dark;
  }

  .prevSwap {
    animation: prevSwap 0.2s;
  }

  .nextSwap {
    animation: nextSwap 0.2s;
  }

  @keyframes prevSwap {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateX(150%);
    }
  }

  @keyframes nextSwap {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(100%);
    }
    100% {
      transform: translateX(-150%);
    }
  }
}
