.node {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  user-select: none;
  position: relative;

  &:active {
    background: turquoise;
  }
}

.right {
  width: 2px;
  height: 70px;
  background: black;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -60px;
  right: -20px;

  &.narrow {
    transform: rotate(-10deg);
    right: 30px;
    height: 60px;
  }
}

.left {
  width: 2px;
  height: 70px;
  background: black;
  transform: rotate(45deg);
  position: absolute;
  bottom: -60px;
  left: -20px;

  &.narrow {
    transform: rotate(10deg);
    left: 30px;
    height: 60px;
  }
}
